* {
    background-color: #f8efe9;
    font-family: 'Rubik Dirt', sans-serif;
}

body {
    background-color: #f8efe9;
}

.navbar-brand,
.navbar-expand-lg,
.bg-body-tertiary,
.container-fluid,
.navbar-toggler,
.collapse,
.navbar-collapse,
.navbar-nav,
.me-auto,
.d-flex {
    background-color: #af9e93 !important;
}

.nav-item {
    background-color: #af9e93;
}

.nav-link:hover {
    background-color: #f8efe9;
    border-radius: 5px;
}

.navbar-toggler {
    background-color: transparent !important;
    border: none !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-color: #af9e93 !important;
}

.dropdown-menu {
    background-color: #af9e93;
}

.dropdown-item {
    background-color: #af9e93;
}

/* 360px mobile */
@media screen and (max-width: 360px) {
    .container-fluid {
        padding: 0.2rem !important;
        margin: 0.2rem !important;
    }
}

@media screen and (max-width: 390px) {
    .container-fluid {
        padding: 0.2rem !important;
    }
}

#background-img {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
    position: relative;
}

#background-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.custom-content {
    text-align: center;
    padding: 20px;
}

#container-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.card {
    padding: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: auto;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card p {
    margin-bottom: 14rem;
}

a {
    color: #74645a;
}

.links-style:hover {
    color: blueviolet;
}

.links-style:visited {
    color: blueviolet;
}

@media screen and (max-width: 980px) {
    .card {
        height: 22rem;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        height: 25rem;
    }
}
/* Image taken from unsplash.com - Pablo Merchan */
#card1 {
    background-image: url('/images/pablo-merchan-montes-SCbq6uKCyMY-unsplash.jpg');
}
/* Image taken from unsplash.com - Nathan Dumlao */
#card2 {
    background-image: url('/images/nathan-dumlao-2z3MOB3kfJU-unsplash.jpg');
}
/* Image taken from unsplash.com - Alice Pasqual */
#card3 {
    background-image: url('/images/alice-pasqual-IfzqfA7n7K0-unsplash.jpg');
}

h1 {
    color: #74645a;
}

h2.footer-heading {
    font-size: 1.25rem !important;
    margin: 0 0 0.5rem 0;
}

p {
    color: #74645a;
}

.footer {
    padding: 3rem 2rem;
    margin-top: 3rem;
    text-align: center;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: start;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 2rem;
        justify-items: start;
        text-align: left;
        margin-left: 0.7rem;
    }

    .footer-info:nth-child(1) {
        grid-area: 1 / 1;
    }
    .footer-info:nth-child(2) {
        grid-area: 1 / 2;
    }
    .footer-info:nth-child(3) {
        grid-area: 2 / 1;
    }
    #copy-rights {
        grid-column: 2 / 2;
        grid-column: 1 / span 2;
        text-align: center;
    }

    .footer-list li {
        margin-top: 1.2rem;
    }
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
    margin-bottom: 0.5rem;
}

.footer-socials p,
.footer-info p {
    margin-bottom: 0.5rem;
    padding: 0;
}

a[target='_blank']::after {
    content: '↗';
}

@media screen and (min-width: 380px) {
    .footer-socials p,
    .footer-info p,
    .footer-socials,
    .footer-info {
        margin-left: 0.2rem;
    }
    #contact-us,
    #follow-us {
        margin-left: 0.2rem;
    }
    .follow-text {
        margin-left: 0.2rem;
    }
}

#copy-rights {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 2rem;
}

/* Code Validated */
