* {
    background-color: #f8efe9;
    font-family: 'rubik dirt', sans-serif;
}

.navbar-brand,
.navbar-expand-lg,
.bg-body-tertiary,
.container-fluid,
.navbar-brand,
.navbar-toggler,
.collapse,
.navbar-collapse,
.navbar-nav,
.me-auto,
.mb-2,
.mb-lg-0,
.d-flex {
    background-color: #af9e93 !important;
}

.nav-item {
    background-color: #af9e93;
}

.nav-link:hover {
    background-color: #f8efe9;
    border-radius: 5px;
}

.navbar-toggler {
    background-color: transparent !important;
    border: none !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-color: #af9e93 !important;
}

/* 360px mobile */
@media (max-width: 360px) {
    .container-fluid {
        padding: 0.2rem !important;
        margin: 0.2rem !important;
    }
}

@media (max-width: 390px) {
    .container-fluid {
        padding: 0.2rem !important;
    }
}

.btn,
.btn-outline-success {
    border: none;
    background-color: #f8efe9;
}

#front-img {
    background-image: url('/images/brooke-cagle-8jp-6SjVibM-unsplash.jpg');
    height: 75vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.custom-content {
    text-align: center;
    padding: 20px;
}

#container-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.card {
    background-color: #af9e93;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #f8efe9;
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: auto;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.card p {
    margin-bottom: 14rem;
}

@media (min-width: 980px) {
    .card {
        height: 25rem;
    }
}

#box1 {
    background-image: url('/images/pablo-merchan-montes-SCbq6uKCyMY-unsplash.jpg');
}

#box2 {
    background-image: url('/images/nathan-dumlao-2z3MOB3kfJU-unsplash.jpg');
}

#box3 {
    background-image: url('/images/alice-pasqual-IfzqfA7n7K0-unsplash.jpg');
}

h1 {
    font-family: 'Rubik Dirt', sans-serif;
    color: #74645a;
}

p {
    font-family: 'Rubik Dirt', sans-serif;
    color: #74645a;
}

.footer {
    background-color: #af9e93;
    color: #f8efe9;
    padding: 3rem 2rem;
    margin-top: 3rem;
    text-align: center;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}

@media (max-width: 768px) {
    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 2rem;
        justify-items: start;
        text-align: left;
        margin-left: 0.7rem;
    }

    .footer-info:nth-child(1) {
        grid-area: 1 / 1;
    }
    .footer-info:nth-child(2) {
        grid-area: 1 / 2;
    }
    .footer-info:nth-child(3) {
        grid-area: 2 / 1;
    }
    #copy-rights {
        grid-column: 2 / 2;
        grid-column: 1 / span 2;
        text-align: center;
    }

    .footer-list li {
      margin-top: 1.2rem;
    }
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
    margin-bottom: 0.5rem;
}

.footer-socials p,
.footer-info p {
    margin-bottom: 0.5rem;
    padding: 0;
}

#copy-rights {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 2rem;
}
